*{
  margin:0;
  padding:0;
}
body{
  width:100%;
  min-height:100vh;
  display:flex;
  align-items: center;
  justify-content: center;

}
main{
  width:40%;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(34, 197, 238);
  padding-bottom:20px;
}

main h1{
  padding: 20px 0px 20px 0px;
}

main input{
  border-radius:10px;
  border:none;
  box-shadow: 1px 1px 4px;
  padding:4px 10px;
}

main textarea{
  display:block;
  margin:auto;
  padding-top:5px;
  padding-left:5px;
  resize: none;
}
.calculate-media-btn{
  margin-left: 20px;
  margin-top:20px;
  border-radius:16px;
  border:none;
  padding:8px 10px 8px 10px;
  
  box-shadow: 1px 1px 4px;
  color:white;
  background-color:rgb(46, 170, 228);
  transition: all ease 0.2s;
}


.add-btn{
  border-radius:16px;
  border:none;
  padding:8px 10px 8px 10px;
  
  box-shadow: 1px 1px 4px;
  color:white;
  background-color:rgb(46, 170, 228);
  transition: all ease 0.2s;
}

.calculate-media-btn:hover,
.add-btn:hover{
  background-color: white;
  color:rgb(46, 170, 228);
}

.calculate-media-btn:active,
.add-btn:active{
  opacity:0.6;
  color:white;
  background-color:rgb(46, 170, 228);
  font-weight:bold;

}

#grades-container{
  background-color: white;
  border-radius: 10px;
  padding-bottom:30px;
  box-sizing: border-box;
}
#grades-container div{
  padding:20px;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:10px;
}

main p{
  margin-top:20px;
  margin-left:20px;
}

